extends layout 

block content 
    h1= title
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore deserunt, laudantium iusto quisquam sequi aliquam architecto. Rem dolorum, rerum expedita soluta dolorem laudantium sunt quibusdam incidunt ipsum consequuntur a.